@use "../utilities/variables";

.tutorial-contacto { 
    margin-bottom: 40px;
    h3 {
        text-align: center;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .pasos-de-contacto {
        list-style: decimal;
        padding-left: 20px;
        li {
            margin-bottom: 20px;
            h3 {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 5px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}
.formulario {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 40px;

    form {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;

        .form-contacto {
        flex: 1 1 200px;
        label {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        input {
            font-size: 14px;
            padding: 6px 8px;
        }
        }
        .form-check {
        flex: 1 1 100%;
        label {
            font-size: 14px;
        }
        }
        .button-form {
            background-color:  variables.$color-primario;
            border-radius: 5px 5px;
            font-size: 14px;
            margin: 10px;
            padding: 10px 20px;
            width: 80px;
            &:hover {
                background-color: variables.$color-secundario;
                transform: scale(1.03);
            }
        }
    }
}
