@use "../utilities/variables"; 
body { 
    background-color: variables.$color-primario;
    font-family: "League Spartan", sans-serif;
        main {
            .servicios {
                margin-bottom: 40px;
            ul {
                justify-content: center;
                text-align: center;
                list-style-type: none;
                padding: 0;
                li {
                margin-bottom: 15px;
                strong {
                    text-decoration: underline;
                    font-size: 20px;
                }
                p {
                    font-size: 16px;
                    margin: 5px 0 0 0;
                }
            }
        }
    }
            h3 {
                text-align: center;
                justify-content: center;
                font-weight: 600;
            }
            .contacto-info {
                text-decoration: underline;
            }
            .beneficios {
            max-width: 700px;
            margin: 40px auto;
            padding: 20px 0;
            p {
                font-size: 16px;
                color: black;
                margin-bottom: 20px;
                }
            .beneficios-lista {
            list-style: none;
            padding: 0;
            margin: 30px 0;
            li {
                background: white;
                border-radius: 10px;
                margin-bottom: 24px;
                padding: 1.2em 24px;
                display: flex;
                flex-direction: column;
                h5 {
                    font-size: 20px;
                    color: black;
                    text-decoration: underline;
                    margin-bottom: 0.5em;
                }
                p {
                    font-size: 16px;
                    color: black;
                    line-height: 1.5;
                    margin-left: 3.5px;
            }
        }
    }    
}
        
        h1 {
            font-weight: 900;
            text-decoration: underline;
            @extend .main-content;
        }
        h2 {
            font-size: x-large;
            margin-top: 15px;
        }
        .main-content {
            text-align: center;
            justify-content: center;
            p {
            text-align: center;
            }
            .logo-modalidad {
                width: variables.$ancho-img;
                height: variables.$alto-img;
                text-align: center;
            }
        }
    }   
}