@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
/*font-family: "League Spartan", sans-serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-weight: 900;
  text-decoration: underline;
  text-align: center;
}
body {
  background-color: #D9D9D9;
  font-family: "League Spartan", sans-serif;
}
/* navbar */
.nav-menu {
  background-color: #D9D9D9;
  padding: 0;
}
.logo-navbar {
  width: 90px;
  height: 60px;
}
.nav-list {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.nav-button {
  background-color: #8BD9BC;
}
.nav-seccion {
  background-color: #8BD9BC;
  margin: 15px;
  font-size: 15px;
  border-radius: 10px;
  padding: 3px;
}
.nav-seccion {
  padding: 5px;
  margin: 40px;
}
.logo-modalidad {
  width: 90px;
  height: auto;
  text-align: center;
}

/*inicio*/
.titulo-main {
  font-weight: 900;
  text-decoration: underline;
}

.p-main {
  text-align: center;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  padding: 0;
}

.main-content {
  text-align: center;
  justify-content: center;
}

.modalidad-logo {
  margin-bottom: 5px;
}
.descripcion-inicio {
  margin-top: 5px;
  margin-bottom: 4px;
}
/* footer */
.footer-web {
  padding: 0;
}
.logo {
  width: 40px;
  height: auto;
}
  
.logo-redes {
  width: 40px;
  height: auto;
  padding: 5px 5px;
  margin: 5px 5px;
} 
.redes-footer {
  background-color: #D9D9D9;
}
.redes-footer a {
  text-decoration: none;
  color: black;
  padding: 5px 5px;
  margin: 5px 5px;
}

/*modalidades*/

.modalidades {
  width: 90px;
  height: auto;
}

/*contacto*/
.button-form {
  background-color: #D9D9D9;
  border-radius: 5px 5px;
  margin: 10px;
  width: 80px;
}

.form.contacto {
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.tutorial-contacto h3 {
  font-style: italic;
}


/*modalidades*/

.info-modalidades h3 {
  margin-left: 15px;
  font-weight: 500;
}

.info-modalidades p {
  margin-left: 15px;
}

/*opiniones*/

.opiniones {
  font-style: italic;
}

.opiniones p {
  font-size: medium;
}

/*quienes somos*/

.fotos-modalidades {
  max-width: 30%;
  margin: 0 auto;
  justify-content: center;
  
}

.descripciones {
  margin-bottom: 30px;
  margin-left: 20px;
}

.carrousel-fotos img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

